*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------Trang chủ-------------------------------------------------------------------- */

.header{
    width: 100%;
}

.header_inner{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
}

.header_left{
    width: 20%;
    height: auto;
}
.header_left img{
    width: 100%;
    height:100%;
}

.header_right{
    width: 80%;
    height: auto;
}

.header_right h2{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.body_section{
    width: 100%;
    margin-top: -4px;
}

.body_section_inner{
    
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.body_section_inner_left{
    width: 20%;
    height: auto;
    background-color: #0c3064;
}
.navbar{
    width: 100%;
    height: auto;
}

.navbar li{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    list-style: none;
}

.navbar li a{
    padding-left: 2rem;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    z-index: 1;
}
.body_section_inner_right {
    margin: 1px 302px;
    margin-top: -142%; /* Di chuyển phần tử lên */
    width: 80%;
    height: auto;
    background-color: #f3f4f6;
    border: 2px solid black;
    box-sizing: border-box;
}

.navbar_fix1 li,.navbar_fix2 li{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    list-style: none;
}

/* Nav con */
.navbar_fix1 li a{
    padding-left: 4.5rem;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    z-index: 1;
    display: flex;
}

i{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding-left: 1rem;
    width:5%;
}

.navbar_fix1 li a:hover,.navbar li a:hover{
    color: rgb(248, 211, 167);
}

.navbar_fix2 li a{
    padding-left: 7rem;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    z-index: 1;
    display: flex;
}
#color_highlight{
    color: rgb(248, 211, 167);
}
/* ------------------------------------------Kho.html------------------------------------------------- */

.text_inner_right{
    width: 100%;
    height: 5%;
}
.text_inner_right h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0;
    text-decoration: underline;
}

.search_warehouse{
    width: 100%;
    height: 3%;
}
.search_warehouse_inner{
    width: 100%;
    display: inline-flex;
    justify-content: right;
    padding-right: 5em;
}
.search_warehouse_inner h3{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif
}
.search_warehouse_inner input{
    margin-left: 1em;
    width: 20%;
    padding-left: 0.25em;
    border: 1px solid black;
    border-radius: 5px;
}
.warehouse_table{
    width: 100%;
    height: auto;
}   
.warehouse_table td{
    width: 20%;
}
.warehouse_table td{
    text-align: center;
    font-size: 22px;
}
.option_warehouse:hover{
    color: red;
}

.warehouse_function{
    width: 100%;
    height: 10%;
}
.warehouse_function_inner{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: auto;
}

.warehouse_function_inner a{
    margin-top: 3rem;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;
    text-decoration: none;
    list-style: none;
    color: #000;
}
.warehouse_function_inner a:hover{
    background-color: rgb(248, 211, 167);
}
/* -------------------------------------themKhoMoi.html-------------------------------------------- */
.warehouse_from{
    width: 100%;
    height: auto;
}
.warehouse_form_title{
    width: 100%;  
    padding-left: 2rem;
}
.warehouse_from_inner{
    width: 100%;
    border: 1px solid gray;
    margin-top: 1rem;
}
.warehouse_form-group{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: auto;
    padding: 2rem 2rem;
}

.warehouse_form-group select{
    width: 39%;
    font-size: 21px;
    border: 0.1px solid gray;
    font-weight: 550;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    border-radius: 5px;
    padding-left: 3px;
}
.form_group_inner{
    width: 100%;
    text-align: left;
}

.warning{
    color: red;
    margin-top: 1em;
    width: 100%;
    display: flex;
}
.form_group_inner label{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.form_group_inner input{
    font-size: 21px;
    border-radius: 5px;
    padding-left: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    border: 0.3px solid gray;
}
.submit{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: right;
    align-items: right;
}
.btn_submit{
    width: 8%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    border: 0.2px solid gray;
    cursor: pointer;
}

#btn_fix{
    text-decoration: none;
    text-align: center;
    color: #000;
}
.btn_submit:hover{
    background-color: rgb(248, 211, 167);
}
/* -------------------------------------xoaKho.html-------------------------------------------- */
.warehouse_delete_function{
    width: 100%;
    display: flex;
    justify-content: right;
}
.warehouse_table,.warehouse_table tr,.warehouse_table td{
    border: 0.2px solid gray;
}
.warehouse_function .warehouse_function_inner .deleteWarehouse_btn{
    width: 12%;
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    border: 0.2px solid gray;
    cursor: pointer;
    border-radius: 5px;
}
.warehouse_function .warehouse_function_inner .deleteWarehouse_btn:hover{
    background-color: rgb(255, 53, 53);
    transition: ease-in-out 0.3s;
}
/* -------------------------------------suaKho.html-------------------------------------------- */
.warehouse_change_function{
    width: 100%;
    display: flex;
    justify-content: right;
}

.warehouse_change_function .changeWarehouse_btn{
    width: 17%;
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    border: 0.2px solid gray;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.warehouse_change_function .changeWarehouse_btn:hover{
    background-color: rgb(195, 246, 246);
    transition: ease-in-out 0.3s;
}
.form_change{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.form_change_inner{
    width: 100%;
}
.form_change_inner h3{
    font-size: 23px;
    margin-left: 1rem;
    font-weight: 650;
}

.form_change_inner form{
    width: 100%;
    height: auto;
    background-color: aliceblue;

}
.form_change_inner table{
    width: 90%;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    font-size: 23px;

}
.form_change_inner table td{
    padding: 2rem 3rem;
    border: none;
}

.form_change_inner input{
    width: 100%;
    font-size: 24px;
    padding-left: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.form_change_inner input:hover{
   border: 2px solid #0c3064;
}
.form_change_inner input:focus{
    background-color: rgb(227, 240, 252);
    transition:  ease-in-out 0.3s;
}
/* -------------------------------------dsNhanVien.html-------------------------------------------- */
.text_inner_right{
    width: 100%;
    height: 5%;
}
.text_inner_right h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0;
    text-decoration: underline;
}

.search_employee{
    width: 100%;
    height: 3%;
}
.search_employee_inner{
    width: 100%;
    display: inline-flex;
    justify-content: right;
    padding-right: 5em;
}
.search_employee_inner h3{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif
}
.search_employee_inner input{
    margin-left: 1em;
    width: 20%;
    padding-left: 0.25em;
    border: 1px solid black;
    border-radius: 5px;
}
.employee_table{
    width: 100%;
    height: auto;
}   
.employee_table td{
    width: 10%;
}
.employee_table td{
    text-align: center;
    font-size: 22px;
}

.employee_function{
    width: 100%;
    height: 10%;
}
.employee_function_inner{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: auto;
}

.employee_function_inner a{
    margin-top: 3rem;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;
    text-decoration: none;
    list-style: none;
    color: #000;
}
.employee_function_inner a:hover{
    background-color: rgb(248, 211, 167);
}
/* -------------------------------------thongKe.html-------------------------------------------- */
.statistics{
    width: 100%;
    height: auto;
}
.statistics_inner{
    width: 100%;
    height: auto;
    padding-left: 2rem;
}
.statistics_inner h2{
    padding: 1rem 4.5rem;
    font-size: 25px;
}
.statistics_group{
    padding: 1.5rem 4.5rem;
}

.statistics_group input[type = radio]{
    width: 5%;
}
.statistics_group label{
    font-size: 20px;
}
.statistics_btn{
    width: 100%;
    height: auto;
}
.statistics_btn button{
    width: 10%;
    margin-left: 5.5rem;
    margin-top: 2rem;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    border: 0.3px solid gray;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    z-index: 1;
    color: #000;
    
}
.statistics_btn button:hover{
    background-color: rgb(248, 211, 167);
}
.statistics_table{
    width: 97%;
    height: auto;
    margin-top: 4rem;
    font-size: 22px;
}
.statistics_table th{
    width: 25%;
}
/* -------------------------------------phieuNhapNVL.html || phieuXuatNVL.html ||phieuNhapSP.html || phieuXuatSP.html || -------------------------------------------- */

.text_inner_right h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0;
    text-decoration: underline;
}
.text_inner_right h3{
    display: flex;
    justify-content: left;
    margin-left: 10%;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 0;
    color: red;
    
}
.form_style{
    margin-top: 5%;
    width: 80%;
    height: 100%;
    border: 2px;
    border-color: red;
}
 .form_style form {
    width: 100%;
    justify-content: center;
} 
.form_style input {
    margin-left: 1%;
    width: 150px;
    height: 25px;
    border: 1px solid #555;
    font-size: 15px;
    text-align: center;
    
}
.form_style select {
    margin-left: 1%;
    margin-right: 2%;
}
.form_style label {
    margin-left: 8%;
    margin-right: 2%;
    font-size: 20px;
}
.phieu_table{
    margin-left: 18%;
    width: 100%;
    height: auto;
}   

.phieu_table td{
    text-align: center;
    font-size: 22px;
}

.phieu_button button {
    margin-left: 33%;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

/* -------------------------------------createInventorySheet.html-------------------------------------------- */
.table-one, thead, th,td {
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    
}
table{
    width:100%;
}
th{
    width: calc((100%/6)-1px);
}
.table-one input{
    width: 100%;
}
.press input{
    float: right;
    width: 100px;
    height: 25px;
}
/* -------------------------------------sanPham.html-------------------------------------------- */
.product{
    width: 100%;
    height: auto;
}

.product_inner{
    width: 100%;
}
.product_inner h1{
    text-align: center;
    height: auto;
    width: 100%;
    text-decoration: underline;
}
.search_product{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: right;
    margin-top: 2rem;
    padding: 1.5rem 1.5rem;
}
.search_product label{
    font-size: 22px;
    
}

.search_product input{
    margin-left: 0.5rem;
    font-size: 19px;
    padding-left: 8px;
    font-family: 'Times New Roman', Times, serif;
    border: 0.2px solid gray;
    border-radius: 5px;
    height: 25px;
}
.search_product button{
    margin-left: 0.5rem;
    width: 10%;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    border: 0.2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
    height: 25px;
    color: #000;
}
.search_product button:hover{
    background-color: rgb(248, 211, 167);
}

.products_table{
    width: 100%;
    height: auto;
    font-size: 22px;
}

.products_table th{
    width: 25%;
}

.products_detail{
    width: 100%;
    height: auto;
}
.products_detail_inner{
    width: 100%;
    height: auto;
    margin-left: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.products_detail_inner label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    font-size: 23px;
}

.products_detail_inner img{
    width: 700px;
    height: 350px;
    border: 1px solid black;
    margin-top: 10px;
}
.product_detail_group{
    width: 70%;
    height: auto;
    padding: 2rem 0;
    border: 1px solid black;
    margin-top: 10px;
    background-color: aliceblue;
}
.product_detail_group label{
    width: 100%;
    height: auto;
    font-size: 23px;
}
.product_detail_group table{
    margin-top: 10px;
    width: 95%;
    margin-left: 20px;
    border: 0.1px solid gray;
    z-index: 1;
    font-size: 23px;
}
.product_detail_group table tr{
    width: 100%;
}
/* -------------------------------------NguyenVL-------------------------------------------- */
.form-kho-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-kho-filter select, .btn-filter-kho, h4{
    width: 33% !important;
    /* padding: 10px; */
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}
.form-kho-filter .btn-filter-kho, h4{
    height: 35px;
    border: 0;
}
.form-kho-filter .btn-filter-kho:hover{
    background-color: rgb(115, 145, 134);
    color: bisque;
}